.container {
    width: 100%;
    height: 100%;
    .null-state {
        a {
            cursor: pointer;
        }
    }
}

.dashboard {
    width: calc(100% - 64px);
    height: calc(100% - 64px);

    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        width: 100%;
        font-size: 24px;
    }

    .info {
        width: 100%;
        width: 100%;
        overflow: auto;

        .stats {
            margin-top: 24px;
            width: 100%;
            height: 50%;
            display: flex;
            flex-wrap: wrap;
            .card {
                width: calc(33% - 48px);
                height: 300px;
                margin: 8px;
            }
        }
    }
}
