<div class="container">

    <section id="family">
        <div class="header">
            Family
        </div>

        <div class="entry card">
            <div class="question">
                <label>What is my "Family Code"?</label>
                <p>
                    Your Family Code is a unique identifier to help you locate your family on the site. It will allow
                    both members and nonmembers to join your family. All you have to do is manually share the code, or,
                    you can press the "Share Code" button to send them an email!
                </p>
            </div>
        </div>

        <div class="entry card">
            <div class="question">
                <label>How do I find my "Family Code"?</label>
                <p>
                    Your Family Code can be found in your <a href="/family">Manage Family</a> tab.
                </p>
            </div>
        </div>

        <div class="entry card">
            <div class="question">
                <label> What if I'm sick of my family and want to leave it?</label>
                <p>
                    We get it. All you have to do is click the "Leave Family" button in your <a href="/family">Manage
                        Family</a> tab. You can always rejoin a family by entering their Family Code!

                </p>
            </div>
        </div>
    </section>

    <section id="family">
        <div class="header">
            How To
        </div>

        <div class="entry card">
            <div class="question">
                <label>Question</label>
                <p>
                    What is my "Family Code"?
                </p>
            </div>
            <div class="answer">
                <label>Answer</label>
                <p>
                    Your Family Code is a unique identifier to help you locate your family on the site. It will allow
                    both members and nonmembers to join your family. All you have to do is manually share the code, or,
                    you can press the "Share Code" button to send them an email!
                </p>
            </div>
        </div>

        <div class="entry card">
            <div class="question">
                <label>Question</label>
                <p>
                    How do I find my "Family Code"?
                </p>
            </div>
            <div class="answer">
                <label>Answer</label>
                <p>
                    Your Family Code can be found in your <a href="/family">Manage Family</a> tab.
                </p>
            </div>
        </div>

        <div class="entry card">
            <div class="question">
                <label>Question</label>
                <p>
                    What if I'm sick of my family and want to leave it?
                </p>
            </div>
            <div class="answer">
                <label>Answer</label>
                <p>
                    We get it. All you have to do is click the "Leave Family" button in your <a href="/family">Manage
                        Family</a> tab. You can always rejoin a family by entering their Family Code!
                </p>
            </div>
        </div>
    </section>


</div>