$background-dark: #1e1f23;
$sidebar-color-dark: #131416;
$text-color-dark: #fefefe;
$alert-dark: red;
$outset-card-dark: #0a0b0d;
$accent-color-dark: #6567df;
$inset-card-background-dark: #131416;
$inset-card-border-dark: #2a2b2f;



$background-light: #fefefe;
$sidebar-color-light: #e9e9e9;
$text-color-light: #1e1f23;
$alert-light: red;
$outset-card-light: #d6d6d6;
$accent-color-light: #9b9dff;
$inset-card-background-light: #e9e9e9;
$inset-card-border-light: #d6d6d6;


